Results/
ResultsOld/
hot_tap_weld_report.blg
hot_tap_weld_report.log
hot_tap_weld_report.run.xml
hot_tap_weld_report.synctex.gz
hot_tap_weld_report-blx.bib
hot_tap_weld_report.aux
hot_tap_weld_report.bbl
